{% extends 'base.html' %} {% block body %} {%load static%}

<h3>carrinho</h3>

{% if cliente_existe %}

    <h4> Número Pedido: {{ pedido.id }} </h4>
    <h4> Preço Total do Pedido: {{ pedido.preco_total}}</h4>
    <h4> Total Produtos: {{pedido.quantidade_total }}

    {% for item in itens_pedido %}
    <p>
        <img src="{{item.itemestoque.produto.imagem.url}}" width="50" height="50">
        Produto: {{item.itemestoque.produto.nome}}
        Cor: {{item.itemestoque.cor.nome}} 
        Tamanho: {{item.itemestoque.tamanho}} 
        <div style="display: flex; "> 
        Quantidade:  
            <form method="POST" action=" {% url 'remover_carrinho' item.itemestoque.produto.id%}"> 
            {% csrf_token %}
            
            <input type= "hidden" name="tamanho" value="{{item.itemestoque.tamanho}}">
            <input type= "hidden" name="cor" value=" {{item.itemestoque.cor.id}} ">
            
            <button type = "submit"> - </button> 
            </form>
        
        {{ item.quantidade }} 

        <form method="POST" action=" {% url 'adicionar_carrinho' item.itemestoque.produto.id%}"> 
            {% csrf_token %}
            
            <input type= "hidden" name="tamanho" value="{{item.itemestoque.tamanho}}">
            <input type= "hidden" name="cor" value=" {{item.itemestoque.cor.id}} ">
            
            <button type = "submit"> + </button> 
        </form>
        </div>

        Preço Unitário: R${{item.itemestoque.produto.preco}}
        Total: R${{item.preco_total}}
    </p>
    <hr> 

{% endfor %}

<a href="{% url 'checkout' %}">Checkout</a>

{%else%}

    <h3> Seu carrinho está vazio </h3>
    <a href = "{% url 'loja' %}"> Visite nossa loja</a> 

{%endif%}
{% endblock %}
